[submodule "src/CmlLib.Core.Installer.Forge"]
	path = src/CmlLib.Core.Installer.Forge
	url = https://github.com/GamerVII-NET/CmlLib.Core.Installer.Forge
[submodule "src/CmlLib.ExtendedCore"]
	path = src/CmlLib.ExtendedCore
	url = https://github.com/GamerVII-NET/CmlLib.Core.git
