[submodule "src/CmlLib.Core.Installer.Forge"]
	path = src/CmlLib.Core.Installer.Forge
	url = https://github.com/Gml-Launcher/CmlLib.Core.Installer.Forge.git
[submodule "src/CmlLib.ExtendedCore"]
	path = src/CmlLib.ExtendedCore
	url = https://github.com/Gml-Launcher/CmlLib.Core.git
[submodule "src/Pingo"]
	path = src/Pingo
	url = https://github.com/GamerVII-NET/Pingo.git
[submodule "src/CmlLib.Core.Installer.NeoForge"]
	path = src/CmlLib.Core.Installer.NeoForge
	url = https://github.com/Gml-Launcher/CmlLib.Core.Installer.NeoForge
[submodule "src/Modrinth.Api"]
	path = src/Modrinth.Api
	url = https://github.com/Gml-Launcher/Modrinth.Api.git
