[submodule "src/Pingo"]
	path = src/Pingo
	url = https://github.com/GamerVII-NET/Pingo.git
[submodule "src/Modrinth.Api"]
	path = src/Modrinth.Api
	url = https://github.com/Gml-Launcher/Modrinth.Api.git
